body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
  }

  h1 {
    color: #4CAF50;
  }

  ul.tarefas {
    list-style-type: none;
    padding: 0;
  }

  ul.tarefas li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }

  ul.tarefas li.concluida {
    background-color: #DFF2BF;
  }

  ul.tarefas li.nao_concluida {
    background-color: #FFDDC1;
  }
