<!DOCTYPE html>
<html>
  <head>
    <title>Minha Lista de Tarefas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body style="font-family: sans-serif; margin: 20px;">
    <h1 style="color:rgb(0, 0, 0);">Minha Lista de Tarefas</h1>

    <%= yield %>
  </body>
</html>
